@use "../foundation/rem" as r;

.idea {
    margin-bottom: 5rem;
    .header {
        margin-bottom: 2rem;
        h1 {
            font-size: r.f-rem(20);
        }
        .reference {
            font-size: 14px;
        }
    }
}