@use "../foundation/rem" as r;

.idea7 {
    .guide {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .text__wrapper {
        text-align: left;
        padding: 100vh 0;
        .text {
            color: #3E7C59;
            font-size: 40px;
            font-weight: 700;
            opacity: 0.2;
            transition: opacity 1s ease;
        }
        .text.is__active {
            opacity: 1;
        }
    }
}