@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.c-breadcrumbs {
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
            &:not(:last-child) {
                margin-right: 16px;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-top: solid 1px c.$black;
                    border-right: solid 1px c.$black;
                    transform: rotate(45deg);
                    margin: 0 0 2px 10px;
                }
            }
        }
    }
}