<%
    page = 'idea5'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['idea5']
    });
%>
<main>
    <div class="idea idea5">
        <div class="header">
            <h1>Three.js</h1>
        </div>
        <div id="wrapper1" class="three__wrap">
            <p>ノーマル</p>
            <canvas id="myCanvas"></canvas>
        </div>
        <div id="wrapper2" class="three__wrap">
            <p>トゥルトゥル</p>
            <canvas id="myCanvas2"></canvas>
        </div>
        <div id="wrapper3" class="three__wrap">
            <p>カートゥーン</p>
            <canvas id="myCanvas3"></canvas>
        </div>
        <div id="wrapper4" class="three__wrap">
            <p>スポットライト</p>
            <canvas id="myCanvas4"></canvas>
        </div>
        <div id="wrapper5" class="three__wrap">
            <p>マウスに合わせてスポットライトが動く</p>
            <canvas id="myCanvas5"></canvas>
        </div>
        <div id="wrapper6" class="three__wrap">
            <p>マウスに合わせてオブジェクトが動く</p>
            <canvas id="myCanvas6"></canvas>
        </div>
        <div id="wrapper7" class="three__wrap">
            <p>マウスに合わせてカメラが動く</p>
            <canvas id="myCanvas7"></canvas>
        </div>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['idea5']
    });
%>　