<%
    page = 'idea12'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['idea12']
    });
%>
<main>
    <div class="idea idea12">
        <section id="js-vertical" class="vertical">
            <div class="container">
                <div class="vertical__content">
                    <div class="col col_left">
                        <h2 class="vertical__heading"><span>About</span><span>Smooth</span><span>Scroll</span></h2>
                    </div>
                    <div class="col col_right">
                        <div class="vertical__item">
                            <h3 class="vertical__title">Smooth Scroll Lenis</h3>
                            <p>Lenis is an open-source library built to standardize scroll experiences and sauce up websites with butter-smooth navigation, all while using the platform and keeping it accessible.</p>
                        </div>
                        <div class="vertical__item">
                            <h3 class="vertical__title">Smooth Scroll Lenis</h3>
                            <p>Lenis is an open-source library built to standardize scroll experiences and sauce up websites with butter-smooth navigation, all while using the platform and keeping it accessible.</p>
                        </div>
                        <div class="vertical__item">
                            <h3 class="vertical__title">Smooth Scroll Lenis</h3>
                            <p>Lenis is an open-source library built to standardize scroll experiences and sauce up websites with butter-smooth navigation, all while using the platform and keeping it accessible.</p>
                        </div>
                        <div class="vertical__item">
                            <h3 class="vertical__title">Smooth Scroll Lenis</h3>
                            <p>Lenis is an open-source library built to standardize scroll experiences and sauce up websites with butter-smooth navigation, all while using the platform and keeping it accessible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="js-horizontal" class="horizontal">
            <div class="container">
                <div class="horizontal__content">
                    <div class="horizontal__item">
                        <div class="horizontal__num">1</div>
                    </div>
                    <div class="horizontal__item">
                        <div class="horizontal__num">2</div>
                    </div>
                    <div class="horizontal__item">
                        <div class="horizontal__num">3</div>
                    </div>
                    <div class="horizontal__item">
                        <div class="horizontal__num">4</div>
                    </div>
                    <div class="horizontal__item">
                        <div class="horizontal__num">5</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['idea12']
    });
%>