<%
    page = 'idea13'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['idea13']
    });
%>
<main>
    <div class="idea idea13">
        <section>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </section>

        <section class="gallery">
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
            <div class="idea13__img"></div>
        </section>

        <section class="end">
            <h2>end</h2>
        </section>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['idea13']
    });
%>