<%
    page = 'idea17'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['idea17']
    });
%>
<main>
    <div class="idea idea17">
        <div class="layer">
            <div class="header">
                <h1>hover01</h1>
                <p class="reference">参考サイト：<a href="https://brutus.jp/special/2023/hotel-indigo/">https://brutus.jp/special/2023/hotel-indigo/</a></p>
            </div>
            <div id="js-content" class="content l-container">
                <div id="js-img" class="img"></div>
                <div class="title__wrap">
                    <h2 class="title">
                        <span class="sub">music</span>
                        <span class="main">shibuya</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="viewmore">
            <div class="header">
                <h1>hover02</h1>
                <p class="reference">参考サイト：<a href="https://fukuya-hd.co.jp/">https://fukuya-hd.co.jp/</a></p>
            </div>
            <ul class="l-inner__flex l-container">
                <li>
                    <div class="card">
                        <div class="img">CARD 1</div>
                        <div class="button">
                            <span class="link">
                                <span class="c-hover__circle">
                                    <span class="outline">
                                        <span class="word">v</span>
                                        <span class="word">i</span>
                                        <span class="word">e</span>
                                        <span class="word">w</span>
                                        <span class="word"> </span>
                                        <span class="word">m</span>
                                        <span class="word">o</span>
                                        <span class="word">r</span>
                                        <span class="word">e</span>
                                        <span class="word">v</span>
                                        <span class="word">i</span>
                                        <span class="word">e</span>
                                        <span class="word">w</span>
                                        <span class="word"> </span>
                                        <span class="word">m</span>
                                        <span class="word">o</span>
                                        <span class="word">r</span>
                                        <span class="word">e</span>
                                    </span>
                                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" width="37.002" height="34.63" viewBox="0 0 37.002 34.63" class="js-svg replaced-svg">
                                    <g id="arrow" transform="translate(0.037 0.725)">
                                    <line id="線_1" data-name="線 1" x2="29.24" y2="0.62" transform="translate(1.75 15.97)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_2" data-name="線 2" y1="4.96" x2="4.95" transform="translate(29.54 16.58)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_3" data-name="線 3" y1="5.05" x2="5.06" transform="translate(19.64 26.38)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_4" data-name="線 4" x2="14.85" y2="14.85" transform="translate(19.64 1.75)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    </g>
                                </svg></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="img">CARD 2</div>
                        <div class="button">
                            <span class="link">
                                <span class="c-hover__circle">
                                <span class="outline">
                                    <span class="word">v</span>
                                    <span class="word">i</span>
                                    <span class="word">e</span>
                                    <span class="word">w</span>
                                    <span class="word"> </span>
                                    <span class="word">m</span>
                                    <span class="word">o</span>
                                    <span class="word">r</span>
                                    <span class="word">e</span>
                                    <span class="word">v</span>
                                    <span class="word">i</span>
                                    <span class="word">e</span>
                                    <span class="word">w</span>
                                    <span class="word"> </span>
                                    <span class="word">m</span>
                                    <span class="word">o</span>
                                    <span class="word">r</span>
                                    <span class="word">e</span>
                                </span>
                                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" width="37.002" height="34.63" viewBox="0 0 37.002 34.63" class="js-svg replaced-svg">
                                    <g id="arrow" transform="translate(0.037 0.725)">
                                    <line id="線_1" data-name="線 1" x2="29.24" y2="0.62" transform="translate(1.75 15.97)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_2" data-name="線 2" y1="4.96" x2="4.95" transform="translate(29.54 16.58)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_3" data-name="線 3" y1="5.05" x2="5.06" transform="translate(19.64 26.38)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_4" data-name="線 4" x2="14.85" y2="14.85" transform="translate(19.64 1.75)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    </g>
                                </svg></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="img">CARD 3</div>
                        <div class="button">
                            <span class="link">
                                <span class="c-hover__circle">
                                    <span class="outline">
                                        <span class="word">v</span>
                                        <span class="word">i</span>
                                        <span class="word">e</span>
                                        <span class="word">w</span>
                                        <span class="word"> </span>
                                        <span class="word">m</span>
                                        <span class="word">o</span>
                                        <span class="word">r</span>
                                        <span class="word">e</span>
                                        <span class="word">v</span>
                                        <span class="word">i</span>
                                        <span class="word">e</span>
                                        <span class="word">w</span>
                                        <span class="word"> </span>
                                        <span class="word">m</span>
                                        <span class="word">o</span>
                                        <span class="word">r</span>
                                        <span class="word">e</span>
                                    </span>
                                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" width="37.002" height="34.63" viewBox="0 0 37.002 34.63" class="js-svg replaced-svg">
                                    <g id="arrow" transform="translate(0.037 0.725)">
                                    <line id="線_1" data-name="線 1" x2="29.24" y2="0.62" transform="translate(1.75 15.97)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_2" data-name="線 2" y1="4.96" x2="4.95" transform="translate(29.54 16.58)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_3" data-name="線 3" y1="5.05" x2="5.06" transform="translate(19.64 26.38)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    <line id="線_4" data-name="線 4" x2="14.85" y2="14.85" transform="translate(19.64 1.75)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"></line>
                                    </g>
                                </svg></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dot">
            <div class="header">
                <h1>hover03</h1>
                <p class="reference">参考サイト：<a href="https://housousha.co.jp/">https://housousha.co.jp/</a></p>
            </div>
            <ul class="l-inner__flex l-container">
                <li class="link__item">
                    <div class="inner__text">ABCDEFG</div>
                    <div class="circle"></div>
                </li>
                <li class="link__item">
                    <div class="inner__text">HIJKLMN</div>
                    <div class="circle"></div>
                </li>
            </ul>
        </div>
        <div class="linear">
            <div class="header">
                <h1>hover04</h1>
                <p class="reference">参考サイト：<a href="https://recruit.tver.co.jp/">https://recruit.tver.co.jp/</a></p>
            </div>
            <div class="card">
                <div class="img">画像</div>
                <p class="text__wrap">
                    <span class="text">足元のストーブは</span>
                    <span class="text">びっくりするほど温まる</span>
                </p>
            </div>
        </div>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['idea17']
    });
%>