<%
    page = 'top'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['top']
    });
%>
<main>
    <div id="js-idea1" class="idea idea1">
        <h1>hover01</h1>
        <ul class="l-container l-inner__flex top__container">
            <li class="item__wrap vertical">
                <a href="" class="item item1">
                    <figure><img src="https://placehold.jp/300x200.png" alt=""></figure>
                    <div class="content">
                        <p class="icon"><span class="main-icon material-icons">sentiment_satisfied_alt</span></p>
                        <h2 class="title">タイトル</h2>
                        <p class="text">テキストテキストテキスト</p>
                        <p class="link">
                            <span class="link-text">詳細を見る</span>
                            <span class="material-icons icon-arrow">keyboard_arrow_right</span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="item__wrap vertical">
                <a href="" class="item item2">
                    <figure><img src="https://placehold.jp/300x200.png" alt=""></figure>
                    <div class="content">
                        <p class="icon"><span class="main-icon material-icons-outlined">emoji_emotions</span></p>
                        <h2 class="title">タイトル</h2>
                        <p class="text">テキストテキストテキスト</p>
                        <p class="link">
                            <span class="link-text">詳細を見る</span>
                            <span class="material-icons icon-arrow">keyboard_arrow_right</span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="item__wrap vertical">
                <a href="" class="item item3">
                    <figure><img src="https://placehold.jp/300x200.png" alt=""></figure>
                    <div class="content">
                        <p class="icon"><span class="main-icon material-icons-outlined">sentiment_dissatisfied</span></p>
                        <h2 class="title">タイトル</h2>
                        <p class="text">テキストテキストテキスト</p>
                        <p class="link">
                            <span class="link-text">詳細を見る</span>
                            <span class="material-icons icon-arrow">keyboard_arrow_right</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="l-container l-inner__flex bottom__container">
            <li class="item__wrap horizon">
                <a href="" class="item item4 l-inner__flex">
                    <p class="icon"><span class="main-icon material-icons-outlined">cake</span></p>
                    <div class="text__wrap">
                        <h2 class="title">タイトル</h2>
                        <p class="link">
                            <span class="material-icons icon-arrow">keyboard_arrow_right</span>
                        </p>
                    </div>
                </a>
            </li>
            <li class="item__wrap horizon">
                <a href="" class="item item5 l-inner__flex">
                    <p class="icon"><span class="main-icon material-icons-outlined">emoji_food_beverage</span></p>
                    <div class="text__wrap">
                        <h2 class="title">タイトル</h2>
                        <p class="link">
                            <span class="material-icons icon-arrow">keyboard_arrow_right</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="idea idea2">
        <h1>hover02</h1>
        <ul class="l-container l-inner__flex">
            <li class="item__wrap item1">
                <a href="" class="item">
                    <div class="content l-inner__flex">
                        <h2 class="title">タイトル</h2>
                        <p class="arrow"><span class="icon-arrow material-icons">arrow_forward</span></p>
                    </div>
                </a>
            </li>
            <li class="item__wrap item2">
                <a href="" class="item">
                    <div class="content l-inner__flex">
                        <h2 class="title">タイトル</h2>
                        <p class="arrow"><span class="icon-arrow material-icons">arrow_forward</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['top']
    });
%>