<%
    page = 'top'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['top']
    });
%>
<main>
    <div class="link__wrap l-container">
        <a class="text-link" href="<%= path %>hover.html">230303 hover</a>
        <p class="font-sm">参考サイト：<a href="https://www.sakurajyuji.or.jp/">https://www.sakurajyuji.or.jp/</a></p>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['top']
    });
%>