<%
    page = 'top'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['top']
    });
%>
<main>
    <div class="link__wrap l-container">
        <a href="<%= path %>hover.html">230303 hover</a>
    </div>
</main>
<%-
    include('./layout/_footer', {
        meta: pageData['top']
    });
%>