@use "../../foundation/rem" as r;

.link__wrap {
    width: 100%;
    margin-bottom: 1rem;
    .text-link {
        font-size: r.f-rem(16);
        text-decoration: underline;
        &::before {
            content: '▶︎';
            display: inline-block;
            font-size: r.f-rem(14);
            margin-right: 0.5rem;
        }
    }
}